<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SOAPServicePortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7779/ws/data" binding="basicHttpBinding"
                bindingConfiguration="SOAPServicePortBinding" contract="DataService.SOAPInterface"
                name="SOAPServicePort" />
        </client>
    </system.serviceModel>
</configuration>